[Unit]
Description=Dynamic DNS and Reverse DNS for IPv6
After=network.target

[Service]
ExecStart=/usr/bin/env padawanv6
Type=simple

StandardOutput=file:/var/log/padawanv6.log
StandardError=file:/var/log/padawanv6.log

[Install]
WantedBy=multi-user.target
